<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../partials/head.ejs') %>
    </head>
    <body>
        <%- include('../../partials/header.ejs') %>

        <div class="container" style="margin-bottom: 200px">
            <% if (users.length > 0) { %>
            <div class="d-flex align-items-center justify-content-between">
                <h3 class="text-center my-4">Quản lý người dùng trong hệ thống</h3>
                <div style="position: relative">
                    <a
                        href="/view/trash/user"
                        class="d-flex align-items-center text-danger"
                    >
                        <span>Người dùng bị xóa</span>
                        <i class="bi bi-trash text-dark ms-2" style="font-size: 25px"></i>
                    </a>
                    <div
                        style="
                            background-color: white;
                            border-radius: 50%;
                            padding: 5px;
                            position: absolute;
                            width: 25px;
                            height: 25px;
                            text-align: center;
                            line-height: 17px;
                            top: -8px;
                            right: -13px;
                            border: 1px solid black;
                            color: red;
                            font-weight: bold;
                        "
                    >
                        <% if (numberDeleted) { %> <%= numberDeleted %> <% } else { %> 0
                        <% } %>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead class="text-center">
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Quyền</th>
                        <th scope="col">Số điện thoại</th>
                        <th scope="col">Người giới thiệu</th>
                        <th scope="col">Email</th>
                        <th scope="col">Tổng điểm</th>
                        <th scope="col">Hành động</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider text-center">
                    <% if (users) { %> <% users.forEach((user,index) => { %>

                    <tr class="">
                        <th scope="row"><%= index+1 %></th>
                        <td><%= user.username %></td>
                        <td><%= user.role %></td>
                        <td><%= user.phone_number %></td>
                        <td><%= user.number_phone_presenter %></td>
                        <td><%= user.email %></td>
                        <td><%= user.number_point %></td>
                        <td>
                            <a class="btn btn-primary" href="/view/user/<%= user._id %> ">
                                Chi tiết
                            </a>

                            <a
                                class="btn btn-success"
                                id="btn-confirm-role"
                                data-bs-toggle="modal"
                                data-bs-target="#roleModal"
                                data-id="<%= user._id %>"
                                >Quyền</a
                            >
                            <a
                                class="btn btn-danger"
                                id="btn-delete-user"
                                data-bs-toggle="modal"
                                data-bs-target="#confirmDeleteModal"
                                data-id="<%= user._id %>"
                                >Xóa</a
                            >

                            <!-- Modal -->
                            <div
                                class="modal fade"
                                id="confirmDeleteModal"
                                tabindex="-1"
                                aria-labelledby="exampleModalLabel"
                                aria-hidden="true"
                            >
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5
                                                class="modal-title"
                                                id="exampleModalLabel"
                                            >
                                                Xóa người dùng
                                            </h5>
                                            <button
                                                type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close"
                                            ></button>
                                        </div>
                                        <div class="modal-body">
                                            Bạn chắn chắn muốn xóa người dùng này ra khỏi
                                            hệ thống
                                        </div>
                                        <div class="modal-footer">
                                            <button
                                                type="button"
                                                class="btn btn-secondary"
                                                data-bs-dismiss="modal"
                                            >
                                                Trở về
                                            </button>
                                            <a
                                                type="button"
                                                class="btn btn-danger"
                                                id="button-confirm-delete_user"
                                            >
                                                Xóa
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- modal role -->
                            <div
                                class="modal fade"
                                id="roleModal"
                                tabindex="-1"
                                aria-labelledby="exampleModalLabel"
                                aria-hidden="true"
                            >
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5
                                                class="modal-title"
                                                id="exampleModalLabel"
                                            >
                                                Phân quyền cho người dùng
                                            </h5>
                                            <button
                                                type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close"
                                            ></button>
                                        </div>
                                        <div class="modal-body">
                                            <form name="role_form" method="POST">
                                                <select
                                                    class="form-select"
                                                    aria-label="Default select example"
                                                    name="role"
                                                >
                                                    <option value="User">User</option>
                                                    <option value="Dealer">Dealer</option>
                                                </select>
                                                <div class="modal-footer">
                                                    <button
                                                        type="button"
                                                        class="btn btn-secondary"
                                                        data-bs-dismiss="modal"
                                                    >
                                                        Close
                                                    </button>
                                                    <button
                                                        type="submit"
                                                        id="btn_confirm_role"
                                                        class="btn btn-primary"
                                                    >
                                                        Xác nhận
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <% }) %> <% } %>
                </tbody>
            </table>

            <% } else { %>

            <div class="d-flex align-items-center justify-content-between">
                <h3 class="text-center my-4">Không có người dùng trong hệ thống</h3>
                <div style="position: relative">
                    <a class="d-flex align-items-center text-danger">
                        <span>Người dùng bị xóa</span>
                        <i class="bi bi-trash text-dark ms-2" style="font-size: 25px"></i>
                    </a>
                    <div
                        style="
                            background-color: white;
                            border-radius: 50%;
                            padding: 5px;
                            position: absolute;
                            width: 25px;
                            height: 25px;
                            text-align: center;
                            line-height: 17px;
                            top: -8px;
                            right: -13px;
                            border: 1px solid black;
                            color: red;
                            font-weight: bold;
                        "
                    >
                        <% if (numberDeleted) { %> <%= numberDeleted %> <% } else { %> 0
                        <% } %>
                    </div>
                </div>
            </div>
            <% } %>

            <form name="delete-form" method="post"></form>
        </div>
        <!-- <%- include('../../partials/footer.ejs') %> -->

        <script>
            const confirmDeleteModal = document.getElementById('confirmDeleteModal');
            const deleteForm = document.forms['delete-form'];

            const buttonConfirmDeleteUser = document.querySelectorAll(
                '#button-confirm-delete_user'
            );

            let idUser;
            confirmDeleteModal.addEventListener('show.bs.modal', (event) => {
                const button = event.relatedTarget;
                idUser = button.getAttribute('data-id');
                console.log(idUser);
            });
            buttonConfirmDeleteUser.forEach((btnDelete) => {
                btnDelete.onclick = (e) => {
                    deleteForm.action = `/view/user/trash/${idUser}/delete?_method=DELETE`;
                    deleteForm.submit();
                };
            });

            // role

            const roleModal = document.getElementById('roleModal');
            const roleForm = document.forms['role_form'];
            const btnConfirmRole = document.querySelectorAll('#btn_confirm_role');

            let idRole;
            roleModal.addEventListener('show.bs.modal', (event) => {
                const button = event.relatedTarget;
                idRole = button.getAttribute('data-id');
                console.log(idRole);
            });

            btnConfirmRole.forEach((btn) => {
                btn.onclick = (e) => {
                    roleForm.action = `/view/user/role/${idRole}?_method=PATCH`;
                    roleForm.submit();
                };
            });
        </script>
    </body>
</html>
